<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Sharing</title>
</head>
<body style="padding: 20px">
  <form action=<%=`./${data.id}/download` %> method="GET" >
    <p>
      Original file name: <%=data.filename %>
    </p>
    <p>
      Download link: <a href="<%=data.url %>"><%=data.url %></a>
    </p>
    

    <label for="password">Password
      <input type="password" name="password"/>
    </label>
    <button type="submit" style="display: block">Download</button>

  </form>
</body>
</html>